.navbar_sec{
    height: 50px;
    background-color: #4d90fe;
    color: white;
    display: flex;
    align-items: center;
}

.logo_sec{
    width: 40%;
    display: flex;
    justify-content: Center;
    align-items: center;
}

.logo_sec>h1{
    font-size: 1.5rem;
}



@media screen and (max-width:600px) {
    .logo_sec{
        width: 60%;
    }
    .logo_sec>h1{
        font-size: 1rem;
    }
}